/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Lato', Helvetica, sans-serif;
$headingFont: 'Lato', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// ---------------------------------------------
// CUSTOM
// ---------------------------------------------
.reveal {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
	}
	// .start {
	// 	h2 {
	// 		font-family: 'Rammetto One', cursive;
	// 	}
	// }
	.contents {
		img {
			border-radius: 50%;
			width: 35px;
			border: dashed 1px #fff;
			margin: 0;
			vertical-align: middle;
		}
	}
	.showcase {
		a {
			font-size: 14px;
		}

		p {
			font-size: 16px;

			&.title {
				font-family: 'Lato', sans-serif;
				font-weight: 900;
				font-size: 24px;
				text-transform: uppercase; 
			}
		}

		.left {
			float:left;
			width: 30%;
		}

		.right {
			float:right;
			width: 70%;
		}
	}
	.references ol li {
    font-size: 24px;
	}
}